.hero {
  text-align: center;
  color: white;
  margin: 80px 0;
}

.hero h1 {
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image-text img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }
}
